<a href="https://colab.research.google.com/github/duavarun/googlecolab/blob/main/pythonlearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")
import sys
print(sys.version)

Hello world
3.10.11 (main, Apr  5 2023, 14:15:10) [GCC 9.4.0]

In [ ]:
a = '''varun'''
print (a)

varun

In [ ]:
a = "birthdAy"
c = a.lower()
b = a.upper()
d = a.capitalize()
print (a, b ,c ,d)

birthdAy BIRTHDAY birthday Birthday

In [ ]:
x = int(input ("enter the number: "))
x += 1
print (x)

enter the number: 100
101

In [ ]:
x = float(input ("Enter float number: "))
x += 1
print (x)

Enter float number: 10.1
11.1

In [ ]:
#list
cars = [10, 14.5, "tata", "benz"]
print(type(cars))
list2= [2, 1, "audi"]

cars.extend(list2)
print(cars)
print(cars.index(1))
for items in cars:
  list2.append(items)
print(list2)

<class 'list'>
[10, 14.5, 'tata', 'benz', 2, 1, 'audi']
5
[2, 1, 'audi', 10, 14.5, 'tata', 'benz', 2, 1, 'audi']

In [ ]:
#dictionary
dict1 = {1:11,2:22}
print(dict1)
print(type(dict1))
print(dict1.items())
print(dict1.keys())
print(dict1.values())


dict1.setdefault(222, 111)

print()
print(dict1)

{1: 11, 2: 22}
<class 'dict'>
dict_items([(1, 11), (2, 22)])
dict_keys([1, 2])
dict_values([11, 22])

{1: 11, 2: 22, 222: 111}

In [ ]:
#List comprehensive
test1 = ["aa", "ab", "c"]
test2 = []

test2 = [item for item in test1 if "a" in item]
print(test2)

['aa', 'ab']

In [ ]:
#List comprehensive
test1 = ["aa", "ab", "c"]
test2 = []

test2 = [item.upper() for item in test1]
print(test2)

['AA', 'AB', 'C']

In [ ]:
from math import exp
help(exp)
print(exp(1))

Help on built-in function exp in module math:

exp(x, /)
    Return e raised to the power of x.

2.718281828459045

In [6]:
class employee:
  def __init__(self,first,last,pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = (first + '.' + last + '@' + 'gmail.com')



  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amt)
  
  @classmethod
  def set_rasie_amt(cls,raise_amt):
    cls.raise_amt = raise_amt
  
  @classmethod
  def from_string(cls,emp_str):
    first,last,pay = emp_str.split(',')
    return cls(first,last,pay)

  @staticmethod
  def is_workday(day):
    if day.weekday() ==5 or day.weekday() == 6:
      return false
    return true

In [5]:
emp_string_1='a,b,5000'

In [16]:
import datetime
my_date = datetime.date.today()
print(my_date)

employee.is_workday(d)

2023-05-25
<class 'str'>

AttributeError: ignored

In [21]:
class developer(employee):
  pass

In [20]:
emp_5=employee('a','b',100)

In [22]:
dev_1=developer('c','d',200)
dev_1.pay

200